#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "manifest.xml"

IDI_ICON ICON "mdleditico4_64_24.ico"
IDI_ICON2 ICON "mdleditico4_64_16.ico"
IDI_DLG_ICON ICON "mdleditdlgico.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MDLEDIT_VERSION_MAJOR,MDLEDIT_VERSION_MINOR,MDLEDIT_VERSION_PATCH,MDLEDIT_VERSION_BUILD
 PRODUCTVERSION MDLEDIT_VERSION_MAJOR,MDLEDIT_VERSION_MINOR,MDLEDIT_VERSION_PATCH,MDLEDIT_VERSION_BUILD
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x9L
#else
 FILEFLAGS 0x8L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "MDLedit"
            VALUE "FileDescription", "MDLedit"
            VALUE "FileVersion", MDLEDIT_VERSION_STRING
            VALUE "InternalName", "mdledit"
            VALUE "OriginalFilename", "mdledit.exe"
            VALUE "ProductName", "MDLedit"
            VALUE "ProductVersion", MDLEDIT_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END



DLG_SETTINGS DIALOGEX  20, 10, 390, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Vertex Normal Calculation", DLG_ID_STATIC, 10, 10, 180, 61 // size is 13 + n * 12
    AUTOCHECKBOX "Include Area Weighting", DLG_ID_AREA_WEIGHT, 15, 22, 160, 8
    AUTOCHECKBOX "Include Angle Weighting", DLG_ID_ANGLE_WEIGHT, 15, 34, 160, 8
    LTEXT "(Vanilla models only seem to use area weighting)", DLG_ID_STATIC, 15, 46, 160, 8
    AUTOCHECKBOX "Crease Angle:", DLG_ID_CREASE_ANGLE, 15, 58, 55, 8
    EDITTEXT DLG_ID_CREASE_ANGLE_DEG, 72, 56, 18, 11, ES_NUMBER

    GROUPBOX "Reading Model", DLG_ID_STATIC, 10, 76, 180, 49 // y-size (last) is 13 + n * 12
    AUTOCHECKBOX "Calculate Smoothing Groups (Reading binary)", DLG_ID_CALC_SMOOTHING, 15, 88, 160, 8
    AUTOCHECKBOX "Minimize (weld) vertices (Reading ascii)", DLG_ID_MIN_VERT, 15, 100, 160, 8
    AUTOCHECKBOX "Save report automatically", DLG_ID_SAVE_REPORT, 15, 112, 160, 8

    GROUPBOX "Writing Ascii Model", DLG_ID_STATIC, 200, 10, 180, 115 // y-size (last) is 13 + n * 12
    AUTOCHECKBOX "Write Animations", DLG_ID_DO_ANIMATIONS, 205, 22, 160, 8
    AUTOCHECKBOX "Convert Skin to Trimesh", DLG_ID_SKIN_TRIMESH, 205, 34, 160, 8
    AUTOCHECKBOX "Convert Lightsaber to Trimesh", DLG_ID_SABER_TRIMESH, 205, 46, 160, 8
    AUTOCHECKBOX "Convert Bezier Controllers to Linear", DLG_ID_BEZIER_LINEAR, 205, 58, 160, 8
    AUTOCHECKBOX "Export WOK file", DLG_ID_EXPORT_WOK, 205, 70, 160, 8
    AUTOCHECKBOX "Use coordinates from WOK file", DLG_ID_WOK_COORDS, 205, 82, 160, 8
    AUTOCHECKBOX "Use .ascii extension by default", DLG_ID_DOT_ASCII, 205, 94, 160, 8
    AUTOCHECKBOX "Weld geometry", DLG_ID_MIN_VERT2, 205, 106, 160, 8
END

DLG_ABOUT DIALOGEX  20, 10, 350, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About MDLedit"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "", DLG_ID_STATIC, 8, 5, 340, 130
END

DLG_EDIT_TEXTURES DIALOGEX  20, 10, 316, 172
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Textures"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Click on a selected texture to rename it. Check the checkbox to enable bumpmapping.", DLG_ID_STATIC, 8, 5, 308, 8
END

DLG_PROGRESS DIALOGEX  0, 0, 200, 30
STYLE WS_POPUP | WS_BORDER | DS_CENTER
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Processing...", DLG_ID_STATIC, 10, 4, 190, 8
END

DLG_PROGRESSMASS DIALOGEX  0, 0, 200, 44
STYLE WS_POPUP | WS_BORDER | DS_CENTER
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Processing...", DLG_ID_STATIC, 10, 4, 190, 8
END

IDM_EDITOR_DLG MENU DISCARDABLE
BEGIN
    POPUP " &File "
        BEGIN
        MENUITEM "&Save", IDDB_SAVE
        END
END

IDM_MAIN MENU DISCARDABLE
BEGIN
    POPUP " &File "
        BEGIN
        MENUITEM "&Load ...", IDM_MDL_OPEN
        POPUP "Save", GRAYED
            BEGIN
            MENUITEM "&Binary ...", IDM_BIN_SAVE
            MENUITEM "&ASCII ...", IDM_ASCII_SAVE
            END
        POPUP "Batch"
            BEGIN
            MENUITEM "&Convert to Binary ...", IDM_MASS_TO_BIN
            MENUITEM "&Convert to ASCII ...", IDM_MASS_TO_ASCII
            MENUITEM "&Analyze ...", IDM_MASS_ANALYZE
            END
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_FILE_EXIT
        END
    POPUP " &Edit "
        BEGIN
        MENUITEM "&Textures ...", IDM_EDIT_TEXTURES
        MENUITEM "&Settings ...", IDM_SETTINGS
        END
    POPUP " &View "
        BEGIN
        MENUITEM "&Hex Mode", IDM_VIEW_HEX
        MENUITEM "&Group Bytes by Data Type", IDM_SHOW_GROUP
        MENUITEM "&Show Data Struct Boundaries", IDM_SHOW_DATASTRUCT
        MENUITEM SEPARATOR
        MENUITEM "&Tree View: Linear", IDM_TREE_SORT_LIN
        MENUITEM "&Tree View: Hierarchical", IDM_TREE_SORT_HIE
        MENUITEM SEPARATOR
        MENUITEM "&Compare to ...", IDM_BIN_COMPARE, GRAYED
        MENUITEM "&Show Differences", IDM_SHOW_DIFF, GRAYED, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "&Show Report", IDM_SHOW_REPORT, GRAYED
        END
    POPUP " &About "
        BEGIN
        MENUITEM "&Help", IDM_HELP
        MENUITEM "&MDLedit", IDM_MDLEDIT
        END
END

